@import "vars.import.less";

.board {
  position: relative;
  border-collapse: collapse;
  background-color: #333333;
  border: solid 3px #333333;
  width: @squareWidth * @squaresNb;
  height: @squareWidth * @squaresNb;
}

.square {
  position: absolute;
  width: @squareWidth;
  height: @squareWidth;

  &.grass {
    background-color: #00C80F;
  }

  &.forest {
    background-color: #006b08;
  }

  &.water {
    background-color: #6666ff;
  }
}